<launch>
	<!-- Defining the arguments -->
	<arg name="HokuyoLaser" value="0"/>
	<arg name="SICKLMSLaser" value="1"/>
	<arg name="P2OS_Driver" value="1"/>
	<arg name="KeyboardTeleop" value="0"/>
	<arg name="JoystickTeleop" value="1"/>
	<arg name="Transform" value="1"/>
	<arg name="Dashboard" value="0"/>
	<arg name="enableMotor" value="1"/>
	<arg name="gps" value="1"/>
	<arg name="camera" value="1"/>
	<arg name="videoWebServer" value="0"/>
	<arg name="ahrs" value="1"/>

	<arg name="robot_device" default="$(optenv robot /dev/myrobot)"/>
	<arg name="ahrs_device" default="$(optenv ahrs /dev/myahrs)"/>	


	<!-- Start AHRS -->

	<group if="$(arg ahrs)">
	       <node pkg="myahrs_driver" type="myahrs_driver" name="ahrs">
	       	     <param name="port" value="$(arg ahrs_device)"/>
	       </node>	
	</group>


        <!-- Start the p2os ROS Driver -->
	<group if="$(arg P2OS_Driver)" >
	<node pkg="p2os_driver" name="p2os_driver" type="p2os_driver" output="screen" respawn="true" respawn_delay="30" args="_port:=$(arg robot_device) _pulse:=1.0">
	<param name="ticksmm" value="135.7" />
	<param name="revcount" value="31390" />	    
	<param name="driftfactor" value="45" />
	<param name="max_xspeed" value="0.7" />	
	<param name="max_yawspeed" value="2" />	
 	<param name="publish_odom_transform" value="false" />	   
<rosparam param="odom_twist_cov"> 
[0.003,  0, 0, 0, 0, 0,
0,  0.00001, 0, 0, 0, 0,
0,  0, 0, 0, 0, 0,
0,  0, 0, 0, 0, 0,
0,  0, 0, 0, 0, 0,
0,  0, 0, 0, 0, 0.005]
</rosparam>
	</node>	
	</group>

	<!-- Start the Dashboard -->
	<group if="$(arg Dashboard)">
	<node pkg="p2os_dashboard" name="p2os_dashboard" type="p2os_dashboard"/>
	</group>
	

        <!-- Start the teleoperation node for keyboard control -->
        <group if="$(arg KeyboardTeleop)">
                <include file="$(find p2os_launch)/launch/teleop_keyboard.launch" />
        </group>

	 <!-- Start the teleoperation node for joystick control -->
        <group if="$(arg JoystickTeleop)">
                <include file="$(find p2os_launch)/launch/teleop_joy.launch" /> 
        </group>

        <!-- Publish the required transform -->
        <group if="$(arg Transform)">
		<include file="$(find p2os_launch)/launch/tf_base_link_to_laser.launch" />          
        </group>



        <!-- Start the Hokuyo Laser node if Hokuyo Laser is used -->
        <group if="$(arg HokuyoLaser)">
                <include file="$(find p2os_launch)/launch/hokuyo.launch" /> 
        </group>



        <!-- Start the SICK LMS Laser Node if a SICK Laser is used -->
        <group if="$(arg SICKLMSLaser)">
               <include file="$(find p2os_launch)/launch/sicklms.launch" /> 
        </group>

        <!-- Start the camera -->

	<group if="$(arg camera)">
                <node pkg="camera1394" type="camera1394_node" name="camera1394_node" >
    		    <param name="video_mode" value="640x480_yuv422"/>
		    <param name="bayer_method" value="Bilinear"/>
  		</node>	    
        </group>

	<!--
        <group if="$(arg camera)">
               <include file="$(find p2os_launch)/launch/camera_web_server.launch" /> 
        </group>-->

        <!-- Start the camera -->
        <group if="$(arg gps)">
	<node pkg="gpsd_client" name="gpsd_client" type="gpsd_client" respawn="true" respawn_delay="30" />
        </group>
        <include file="$(find p2os_urdf)/launch/pioneer3at_urdf.launch"/>	

	  <group if="$(arg enableMotor)" >
  	  <node name="rostopic" pkg="rostopic" type="rostopic" args="pub -1 /cmd_motor_state p2os_msgs/MotorState 1"/>
 	   </group>

</launch>

